<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.wxcloudrun.dao.SearchListMapper">

    <resultMap id="SearchListMapper" type="com.tencent.wxcloudrun.model.SearchList">
        <id property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="typeId" column="typeId"/>
        <result property="createdAt" column="createdAt" javaType="java.time.LocalDateTime" />
        <result property="updatedAt" column="updatedAt" javaType="java.time.LocalDateTime"  />
    </resultMap>

    <insert id="insertSearchRecord" parameterType="com.tencent.wxcloudrun.model.SearchList">
        INSERT INTO search_list(title,typesId) VALUES(#{title},#{typesId});
    </insert>

</mapper>
